@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

hr {
  margin-block-end: 8px;
  margin-block-start: 5px;
  margin-inline-end: 30.25px;
  margin-inline-start: 30.25px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.page-height {
  min-height: calc(100vh - 209px);
}
